/* -----GERAL----- */
* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
	--dark-green: #047857;
	--light-green: #059669;
	--ice-white: #e5e5e5;
	--light-gray: #f2f5f5;
	--dark-gray: #242424;
	--black: #0f1112;
	--title-size-desk: 4.5rem;
}
.layout-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
}

/* -----SITE LOADING----- */
.is-loading body {
	visibility: hidden;
}
body {
	font-family:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	opacity: 0;
	transition: opacity 300ms ease;
}
body.is-ready {
	opacity: 1;
}

/* -----BUTTON----- */
.btn {
	min-height: 3.25rem;
	min-width: 3.25rem;
	border: 0px;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
}
.btn:hover {
	cursor: pointer;
}

/* -----MENU----- */
.menu-btn {
	position: fixed;
	bottom: 22px;
	right: 22px;
	background-color: var(--light-green);
	width: 3.5rem;
	height: 3.5rem;
	z-index: 100;
}
.menu-btn img {
	width: 1.5rem;
	height: 1.5rem;
}
/* -----FOOTER----- */
footer {
	color: white;
	background-color: var(--black);
	width: 100%;
}
/* CONTACTS */
.footer__contacts {
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer__contacts h2 {
	color: var(--light-green);
	font-size: 18px;
	font-weight: 600;
}
.contacts__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 12px;
	margin-top: 2rem;
}
.contacts__card {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-template-rows: repeat(2, fit-content);
	align-items: center;
	gap: 0.5rem;
	background-color: #1b1d1e;
	border-radius: 0.75rem;
	padding: 1.25rem 1rem;
	transition: all 0.3s ease;
}
.contacts__card:hover {
	cursor: pointer;
	background-color: #2f3131;
}
.contacts__card svg {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--light-green);
}
.card__content h3 {
	color: #fff;
	font-weight: 600;
}
.card__content p {
	color: #9ca3af;
	font-size: 15px;
}
/* LINKS & INFO*/
.links_info__container {
	display: flex;
	flex-direction: column;
}
.footer__links,
.footer__info {
	padding-top: 20px;
	padding-bottom: 20px;
}
.links__grid,
.info__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, fit-content);
	padding-top: 16px;
	padding-bottom: 16px;
}
.links__content_container,
.info__content_container {
	display: flex;
	flex-direction: column;
}
.links__content_container h3,
.info__content_container h3 {
	padding-bottom: 16px;
	color: #e5e5e5;
}
/* LINKS */
.links__content_container a {
	font-size: 15px;
	text-decoration: none;
	color: #6b7280;
	padding-bottom: 10px;
}
.links__content_container a:hover {
	color: #8890a0;
}
.links__content_container a:last-of-type {
	padding-bottom: 0;
}
/* INFO */
.info__p {
	font-size: 15px;
	color: #6b7280;
	padding-bottom: 8px;
}
.info__p_secondary {
	font-size: 14px;
	max-width: 130px;
	color: #4b5563;
	line-height: 16px;
}
/* FOOTER HR */
footer hr {
	border-color: #4b5563;
}
/* FOOTER BOTTOM */
.footer__bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	color: #4b5563;
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 40px;
}

/* -----MEDIA QUERIES----- */
/* TABLET SCREEN */
@media screen and (min-width: 768px) {
	.l-container {
		padding-left: 48px;
		padding-right: 48px;
	}
	.contacts__grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
	}
	.links_info__container {
		flex-direction: row;
	}
	.footer__links,
	.footer__info {
		width: 50%;
	}
}
/* DESKTOP SCREEN */
@media screen and (min-width: 1024px) {
}
/* BIG DESKTOP SCREEN */
@media screen and (min-width: 1280px) {
}
/* WIDE DESKTOP SCREEN */
@media screen and (min-width: 1400px) {
}
